/*CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*Utility*/




/*Generics*/

body {
    width: 512px;
    background-color: #141318;
}

img {
    width: 100%;
}

h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

/*Layouts*/

.layouts {
    display: flex;
    flex-direction: row;
    height: 100vh;
    

}

h2 {
    font-size: medium;
}

p {
    font-size: small;
}




/*Sidebar*/

.sidebar {
    flex-shrink: 0;
    width: 15%;
    
    
    
}
.server-icons {
    max-width: 55px;
    margin: 5px auto;
}
.sidebar img {
    border-radius: 100%;
    
}


.server-icons:first-child > img {
    border-radius: 0%;
    margin-top: 20px;
} 



/*Centarl*/

.central {
    flex-grow: 1;
    background-color: #1c1d22;
    margin-top: 8px;
    border-top-left-radius: 25px;
    padding: 5%;
    
}

/*Header*/

header {
    color: white;
    font-family: "Google Sans", sans-serif;
}

/*Header Buttons*/

.btn-header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.btn-header button {
    background-color: #373a43;
    border: none;
    color: white;
    padding: 6px;
    
}

.btn-search {
    border-radius: 100%;
    text-align: center;
    line-height: 15px;
    max-width: 20%;
    flex-shrink: 0;
}

.btn-add-friends {
    border-radius: 20px;
    max-width: 100%;
    flex-grow: 1;
    text-align: center;
    line-height: 15px;
}


/*Main*/

/*Section Chats*/

.chats {
    margin:30px auto;
    max-width: 100%;
    color: #878990;
    font-family: "Google Sans", sans-serif;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.chats img {
    width: 35px;
    border-radius: 100%;
}


/*Single Chat*/

.chat {
    position: relative;
}

.chat:first-child::after {
    content: ' 2min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}


.chat:first-child::after {
    content: ' 2min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}


.chat:nth-child(2)::after {
    content: ' 5min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:nth-child(3)::after {
    content: ' 8min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:nth-child(4)::after, .chat:nth-child(8)::after {
    content: ' 12min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:nth-child(5)::after {
    content: ' 18min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:nth-child(6)::after {
    content: ' 25min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:nth-child(7)::after {
    content: ' 45min';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}

.chat:last-child::after {
    content: ' 1h';
    position: absolute;
    top: 0%;
    right: 0%;
    font-size: smaller;
}




.chat span {
    display: inline-block;
    margin-right: 5px;
}

/*Footer*/

footer {
    background-color: #2d2d35;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

footer button {
    background-color: transparent;
    border: none;
    color: white;
    width: 50px;
    font-size: 6px;
    font-family: "Google Sans", sans-serif;
}

.btn-footer > img {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    margin: 0 auto;

}

.btn-footer i {
    font-size: large;
    display: block;
}