/*CSS RESET*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}

/*Utility*/


/*Generics*/

body {
    width: 512px;
    background-color: #141318;
}

img {
    width: 100%;
}

h1 {
    font-size: x-large;
    margin-bottom: 10px;
}

/*Layouts*/

.layouts {
    display: flex;
    flex-direction: row;
    min-height: 500px;
    

}




/*Sidebar*/

.sidebar {
    flex-shrink: 0;
    width: 15%;
    
    
    
}
.server-icons {
    max-width: 55px;
    margin: 5px auto;
}
.sidebar img {
    border-radius: 100%;
    
}


.server-icons:first-child > img {
    border-radius: 0%;
    margin-top: 20px;
} 



/*Centarl*/

.central {
    flex-grow: 1;
    background-color: #1c1d22;
    margin-top: 8px;
    border-top-left-radius: 25px;
    padding: 5%;
    
}

/*Header*/

header {
    color: white;
    font-family: "Google Sans", sans-serif;
}

/*Header Buttons*/

.btn-header {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}


.btn-header button {
    background-color: #373a43;
    border: none;
    color: white;
    padding: 6px;
    
}

.btn-search {
    border-radius: 100%;
    text-align: center;
    line-height: 1;
    max-width: 20%;
    flex-shrink: 0;
}

.btn-add-friends {
    border-radius: 20px;
    max-width: 100%;
    flex-grow: 1;
}
